<%= javascript 'policy_edit' %>
<%= form_for @policy,
    :url => (@policy.id? ? scaptimony_policy_path(:id => @policy.id) : scaptimony_policies_path) do |f| %>
  <%= base_errors_for @policy %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("General") %></a></li>
    <li><a href="#scap_content" data-toggle="tab"><%= _("SCAP Content") %></a></li>
    <li><a href="#scap_schedule" data-toggle="tab"><%= _("Schedule") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f(f, :name) %>
      <%= text_f(f, :description, :size => "col-md-8" ) %>
    </div>
    <div class="tab-pane" id="scap_content">
      <%= select_f f, :scap_content_id, Scaptimony::ScapContent.all, :id, :title,
        {:include_blank => _("Choose existing SCAP Content")},
        {:label => _("SCAP Content"),
          :onchange => 'scap_content_selected(this);',
          :'data-url' => method_path('scap_content_selected')}
      %>
      <span id="scap_content_profile_select">
        <%= select_f f, :scap_content_profile_id, profiles_selection, :id, :title,
          {:selected => @policy.scap_content_profile_id,
            :include_blank => _("Default XCCDF profile")},
          {:label => _("XCCDF Profile"),
            :disabled => profiles_selection.empty? ? true : false,
            :help_inline => :indicator}
        %>
      </span>
    </div>
    <div class="tab-pane" id="scap_schedule">
      <%= text_f(f, :period) %>
      <%= text_f(f, :weekday) %>
    </div>
    <%= submit_or_cancel f %>
  </div>
<% end %>
