<%= form_for @policy,
    :url => (@policy.id? ? scaptimony_policy_path(:id => @policy.id) : scaptimony_policies_path) do |f| %>
  <%= base_errors_for @policy %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("General") %></a></li>
    <li><a href="#scap_content" data-toggle="tab"><%= _("SCAP Content") %></a></li>
    <li><a href="#scap_schedule" data-toggle="tab"><%= _("Schedule") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f(f, :name) %>
      <%= text_f(f, :description, :size => "col-md-8" ) %>
    </div>
    <div class="tab-pane" id="scap_content">
      <%= file_field_f f, :scap_content, :class => "scap_content", :size => "col-md-10",
          :help_block  => _("Upload SCAP DataStream file to be associated with this policy") %>
      <%= text_f(f, :xccdf_profile) %>
    </div>
    <div class="tab-pane" id="scap_schedule">
      <%= text_f(f, :period) %>
      <%= text_f(f, :weekday) %>
    </div>
    <%= submit_or_cancel f %>
  </div>
<% end %>
