<%= javascript 'foreman_openscap/policy_edit' %>
<%= form_for @policy,
    :url => (@policy.id? ? scaptimony_policy_path(:id => @policy.id) : scaptimony_policies_path) do |f| %>
  <%= base_errors_for @policy %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("General") %></a></li>
    <li><a href="#scap_content" data-toggle="tab"><%= _("SCAP Content") %></a></li>
    <li><a href="#scap_schedule" data-toggle="tab"><%= _("Schedule") %></a></li>
    <% if show_location_tab? %>
      <li><a href='#locations' data-toggle='tab'><%= _('Locations') %></a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href='#organizations' data-toggle='tab'><%= _('Organizations') %></a></li>
    <% end %>
    <li><a href='#hostgroups' data-toggle='tab'><%= _('Hostgroups') %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f(f, :name) %>
      <%= textarea_f(f, :description, :rows => :auto ) %>
    </div>
    <div class="tab-pane" id="scap_content">
      <%= scap_content_selector(f) %>
      <span id="scap_content_profile_select">
    <%= scap_content_profile_selector(f) %>
  </span>
    </div>
    <div class="tab-pane" id="scap_schedule">
      <%= select_f(f, :period, %w[Weekly Monthly], :downcase, :to_s, :include_blank => _('Choose period')) %>
      <%= select_f(f, :weekday, Date::DAYNAMES, :downcase, :to_s, :include_blank => _('Choose weekday')) %>
    </div>
    <%= render 'taxonomies/loc_org_tabs', :f => f, :obj => @policy %>
    <div class="tab-pane" id="hostgroups">
      <%= multiple_selects f, :hostgroups, Hostgroup,
                           @policy.hostgroup_ids,
                           {:disabled => @policy.used_hostgroup_ids } %>
    </div>
    <%= submit_or_cancel f %>
  </div>
<% end %>
