<div id='status-table'>
  <h4 class="header"><%= _('Hosts Breakdown') %></h4>
  <ul>
    <%= status_link _('Compliant with the policy'), :compliant_hosts %>
    <%= status_link _('Not compliant with the policy'), :incompliant_hosts %>
    <%= status_link _('Inconclusive results'), :inconclusive_hosts %>
    <%= status_link _('Never audited'), :report_missing %>
    <h4 class="total"><%= _("Total hosts: %s") % @report[:assigned_hosts] %></h4>
  </ul>
</div>
