<div>
  <%= message.value %>
  <%= link_to_function(content_tag(:span, "", {:rel => "twipsy", :class => 'glyphicon glyphicon-collapse-down', :"data-original-title" => _('More details')} ), "showReportDetails(#{message.id}, $(this))", :class => 'small more-info') %>
</div>
<div class="hidden message-details" id="details-<%= message.id %>">
  <p><b><%= _('Description') %>:</b> <%= sanitize(message.description) %></p>
  <p><b><%= _('Rationale') %>:</b> <%= sanitize(message.rationale) %></p>
  <p><b><%= _('References') %>:</b> <%= sanitize(message.scap_references) %></p>
</div>
