<div>
  <%= message %>
  <%= link_to_function(content_tag(:span, "", {:rel => "twipsy", :class => 'glyphicon glyphicon-collapse-down', :"data-original-title" => _('More details')} ), "showReportDetails(#{ix}, $(this))", :class => 'small more-info') %>
</div>
<div class="hidden message-details" id="details-<%= ix %>">
  <p><b><%= _('Description') %>:</b> <%= sanitize(description) %></p>
  <p><b><%= _('Rationale') %>:</b> <%= sanitize(rationale) %></p>
  <p><b><%= _('References') %>:</b> 
  <% references.each do |ref| -%>
    <a href="<%= ref["href"] %>"><%= ref["title"] %></a>&nbsp;
  <% end -%>
</div>
