<% stylesheet 'foreman_openscap/scap_breakdown_chart' %>

<div class="row metrics-stats-row">
  <div class="col-md-5 scap-breakdown-chart-col">
    <div class="stats-well">
      <h4 class="ca" ><%= _('Report Metrics') %></h4>
      <div class="scap-breakdown-chart">
        <%= react_component('DonutChart', :data => donut_breakdown_chart_data(metrics)) %>
      </div>
    </div>
  </div>
  <div class="col-md-5 arf-report-rule-chart-col">
    <div class="stats-well">
      <h4 class="ca" ><%= _('Report Status') %></h4>
      <%= react_component('BarChart', arf_report_status_chart_data(status)) %>
    </div>
  </div>
  <div class="col-md-2">
    <table class='<%= table_css_classes %>'>
      <tbody>
        <% metrics.sort.each do |title, value|%>
          <tr>
            <td>
              <%= title %>
            </td>
            <td>
              <%= value %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th><%= _("Total") %></th><th><%= @arf_report.rules_count %></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
