<table id='report_log' class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= _("Level") %></th>
      <th><%= _("Resource") %></th>
      <th><%= _("Message") %></th>
      <th><%= _("Result") %></th>
    </tr>
  </thead>
  <tbody>
    <% logs.each do |log| %>
      <tr>
        <td><span <%= report_tag log.level %>><%= h log.level %></span></td>
        <td><%= h log.source %></td>
        <td><%= h log.message %></td>
        <td><span <%= result_tag log.result %>><%= h log.result %></span></td>
      </tr>
    <% end %>
    <tr id='ntsh' <%= "style='display: none;'".html_safe if logs.size > 0%>><td colspan="3">
        <%= _("Nothing to show") %>
      </td></tr>
  </tbody>
</table>
