<table id='report_log' class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= _("Severity") %></th>
      <th><%= _("Message") %></th>
      <th><%= _("Resource") %></th>
      <th><%= _("Result") %></th>
    </tr>
  </thead>
  <tbody>
    <% logs.each do |log| %>
      <tr>
        <td><span <%= severity_tag log.message.severity %>><%= h log.message.severity %></span></td>
        <td>
          <%= render :partial => 'detailed_message', :locals => { :message => log.message } %>
        </td>
        <td><%= h trunc_with_tooltip(log.source) %></td>
        <td><span <%= result_tag log.result %>><%= h log.result %></span></td>
      </tr>
    <% end %>
    <tr id='ntsh' <%= "style='display: none;'".html_safe if logs.size > 0%>>
      <td colspan="4">
        <div class="alert alert-warning" role="alert"><%= _("Nothing to show") %></div>
      </td>
    </tr>
  </tbody>
</table>
