<%= form_for @scap_content,
    :url => (@scap_content.id? ?
        scap_content_path(:id => @scap_content.id) : scap_contents_path),
    :html => { :multipart => true } do |f| %>

  <%= base_errors_for @scap_content %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab"><%= _("File Upload") %></a></li>
    <% if show_location_tab? %>
      <li><a href='#locations' data-toggle='tab'><%= _('Locations') %></a></li>
    <% end %>
    <% if show_organization_tab? %>
      <li><a href='#organizations' data-toggle='tab'><%= _('Organizations') %></a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f(f, :title) %>
      <%= file_field_f f, :scap_file, :help_block  => _("Upload SCAP DataStream file") %>
    </div>
    <%= render 'taxonomies/loc_org_tabs', :f => f, :obj => @scap_content %>
    <%= submit_or_cancel f %>
  </div>
<% end %>
