<table class="<%= table_css_classes('table-two-pane table-fixed') %>">
  <tr>
    <th class="col-md-4"><%= sort :title, as: _('Title') %></th>
    <th class="col-md-5"><%= sort :filename, as: _('File name') %></th>
    <th class="col-md-2"><%= sort :created_at, as: _('Created at') %></th>
    <th class="col-md-1"><%= _('Actions') %></th>
  </tr>
  <% for content in @contents %>
    <tr>
      <td class="ellipsis"><%= link_to_if_authorized content.title, hash_for_edit_scap_content_path(:id => content.id) %></td>
      <td class="ellipsis"><%= content.original_filename %></td>
      <td>
        <%= date_time_relative_value(content.created_at.getlocal) %>
      </td>
      <td>
        <%= action_buttons(
		display_link_if_authorized(_("Download"), hash_for_scap_content_path(:id => content.id), :data => { :no_turbolink => true }),
                display_delete_if_authorized(hash_for_scap_content_path(:id => content.id),
                                             :data => {:confirm => _("Delete scap content %s?") % content.title})
            ) %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate_with_info @contents %>
