<% content_for(:title, _("SCAP Content")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("key", "", :kind => "fa") %>
  </div>
  <h1><%= _('SCAP Content') %></h1>
  <p><%= _('The Security Content Automation Protocol (SCAP), combines a number of open standards that are used to enumerate software flaws and
        configuration issues related to security. ') %></br>
    <%= (_('In Foreman, scap_contents represent the SCAP security guides on your hosts, and create SCAP profiles for you to assign to hosts / host groups
    via %s') % link_to('compliance policies', policies_path)).html_safe %>
  </p>

  <div class="blank-slate-pf-main-action">
    <%= new_link(_('New SCAP Content'), {}, { :class => "btn-lg" }) %>
  </div>
</div>
