<table class="<%= table_css_classes('table-fixed') %>">
  <tr>
    <th class="col-md-4"><%= sort :name %></th>
    <th class="col-md-5"><%= sort :filename %></th>
    <th class="col-md-2"><%= sort :created_at %></th>
    <th class="col-md-1"><%= _('Actions') %></th>
  </tr>
  <% @tailoring_files.each do |file| %>
    <tr>
      <td class="ellipsis">
        <%= link_to_if_authorized file.name, hash_for_edit_tailoring_file_path(:id => file.id) %>
      </td>
      <td>
        <%= file.original_filename %>
      </td>
      <td>
        <%= date_time_relative_value(file.created_at.getlocal) %>
      </td>
      <td>
        <%= action_buttons(
                display_delete_if_authorized(hash_for_tailoring_file_path(:id => file.id),
                                             :data => {:confirm => _("Delete tailoring file %s?") % file.name}),
                display_link_if_authorized(_("Download"), hash_for_xml_tailoring_file_path(:id => file.id), :data => { :no_turbolink => true })
            ) %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate_with_info @tailoring_files %>
