<div class="tab-pane <%= show_partial_wizard(step) %>" id="deploy_by">
  <%= wizard_header @policy.step_index, *translate_steps(@policy) %>

  <div class="alert alert-info" id="scap-deployment-options-info-banner">
    <span class="pficon pficon-info"></span>
    <strong><%= _('There are significant differences in deployment options.') %></strong>
    <%= _('Please make sure you understand them by reading our') %> <%= link_to(_('documentation'), scap_doc_url('deploying-compliance-policies_security-compliance'), :rel => 'external noopener noreferrer', :target => '_blank') %>.
  </div>

  <%= deploy_by_radios f, @policy %>
</div>
