<div class="tab-pane <%= show_partial_wizard(step) %>" id="scap_content">
  <%= wizard_header @policy.step_index, *@policy.steps %>

  <%= scap_content_selector(f) %>
  <span id="scap_content_profile_select">
    <%= scap_content_profile_selector(f) %>
  </span>
  <span>
    <%= tailoring_file_selector(f) %>
  </span>
  <span id="tailoring_file_profile_select">
    <% if @policy.tailoring_file %>
      <%= render 'tailoring_file_selected', :f => f, :policy => @policy, :tailoring_file => @policy.tailoring_file  %>
    <% end %>
  </span>
</div>

