<%= javascript 'foreman_openscap/period_selector' %>

<div class="tab-pane <%= show_partial_wizard(step) %>" id="scap_schedule">
  <%= wizard_header @policy.step_index, *@policy.steps %>
  <%= select_f(f, :period, %w[Weekly Monthly Custom], :downcase, :to_s,
               { :include_blank => _('Choose period') },
               { :onchange => 'period_selected(this)' }) %>
  <%= select_f(f, :weekday, days_of_week_hash, :first, :last, :include_blank => _('Choose weekday')) %>
  <%= select_f(f, :day_of_month, (1..31).to_a, :to_i, :to_s, :help_inline => _('Number of a day in month, note that not all months have same count of days')) %>
  <%= text_f(f, :cron_line, :help_inline => _('You can specify custom cron line, e.g. "0  3  *  *  *", separate each of 5 values by space')) %>
</div>
