<div class="tab-pane <%= show_partial_wizard(step) %>" id="scap_content">
  <%= wizard_header @policy.step_index, *@policy.steps %>

  <%= select_f f, :scap_content_id, Scaptimony::ScapContent.all, :id, :title,
               {:include_blank => _("Choose existing SCAP Content")},
               {:label => _("SCAP Content"),
                :onchange => 'scap_content_selected(this);',
                :'data-url' => method_path('scap_content_selected')}
  %>
  <span id="scap_content_profile_select">
    <%= select_f f, :scap_content_profile_id, profiles_selection, :id, :title,
                 {:selected => @policy.scap_content_profile_id,
                  :include_blank => _("Default XCCDF profile")},
                 {:label => _("XCCDF Profile"),
                  :disabled => profiles_selection.empty?,
                  :help_inline => :indicator}
    %>
  </span>
  <p class="alert alert-info"><%= _('Notice: Ensure the selected SCAP content exists on your hosts.') %></p>
</div>

