<table class="table table-bordered table-striped ellipsis">
  <tr>
    <th><%= _('Host') %></th>
    <th><%= _("Date") %></th>
    <th><%= _("Passed") %></th>
    <th><%= _("Failed") %></th>
    <th><%= _("Other") %></th>
    <th></th>
  </tr>
  <% for arf_report in @policy.arf_reports.latest %>
    <tr>
      <td><%= name_column(arf_report.host) %></td>
      <td><%= _("%s ago") % time_ago_in_words(arf_report.reported_at) %></td>
      <td><%= report_arf_column(arf_report.passed, "label-info") %></th>
      <td><%= report_arf_column(arf_report.failed, "label-danger") %></th>
      <td><%= report_arf_column(arf_report.othered, "label-warning") %></th>
      <td>
        <%= action_buttons(
                link_to(_("View Report"), hash_for_arf_report_path(:id => arf_report.id))
            ) %>
      </td>
    </tr>
  <% end %>
</table>