<%= javascript 'dashboard' %>

<% title _("Compliance policy: %s") % @policy.name %>

<div id='dashboard' class="gridster col-md-12 ready">
  <ul>
    <% [{:template => 'policy_status_widget', :sizex => 8, :sizey => 1, :name => N_('Status table')},
        {:template => 'policy_chart_widget', :sizex => 4, :sizey => 1, :name => N_('Status chart')}].each do |w| %>
      <% widget = compliance_widget(w) %>
      <%= content_tag(:li, widget_data(widget)) do %>
        <div class="widget <%= widget.name.parameterize %>">
          <%= render(:partial => widget.template, :locals => widget.data) %>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
<% if @policy.arf_reports.any? %>
  <div class="col-md-12 gridster">
    <%= _("Latest reports for policy: %s") % @policy.name %>
    <%= render :partial => 'policy_reports' %>
  </div>
<% end %>
