<% javascript 'charts', 'dashboard', 'foreman_openscap/scap_hosts_show' %>

<%= breadcrumbs(:resource_url => api_hosts_path,
                :resource_filter => "is_compliance_host = true",
                :name_field => 'name',
                :switchable => true,
                :items => [
                  { :caption => _('Compliance Hosts'),
                    :url => url_for(hosts_path(:search => "is_compliance_host = true")) },
                  { :caption => ((N_("%s compliance reports by policy") % @host.to_label)),
                    :url => (host_path(@host) if authorized_for(hash_for_host_path(@host))) }
                ])
%>
<% title n_("%s compliance report by policy", "%s compliance reports by policy" , @host.combined_policies.length) % @host.to_label %>
<% @host.combined_policies.each do |policy| %>
  <h2 class="center-block"><%= _('Policy %s') % policy %></h2>
  <div class="row">
    <% data = ForemanOpenscap::HostReportDashboard::Data.new(policy, @host) %>
    <% if data.has_data? %>
    <div class="col-md-4">
      <div class="stats-well">
        <h4 class="header ca"><%= link_to_if_authorized(_('%s latest report') % policy.name,
                                                        hash_for_arf_report_path(:id => data.latest_report.id)
                                                          .merge(:auth_object => data.latest_report)) %></h4>
        <% report = data.report %>
        <%= host_policy_breakdown_chart(report, :class => 'statistics-pie small') %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="stats-well">
        <h4 class="ca"><%= _("%s reports over time") % policy %></h4>
        <%= flot_chart('resource_graph', '', '', host_arf_reports_chart(policy.id)) %>
      </div>
    </div>
    <% else %>
      <div class="col-md-4">
        <h4 class="header ca"><%= _('No report for this policy') %></h4>
      </div>
    <% end %>
  </div>
  <hr style="border: 1px solid #eeeeee"/>
<% end %>
