<%= javascript 'dashboard', 'foreman_openscap/scap_hosts_show' %>

<% title _("%s compliance reports by policy") % @host.to_label %>
<% @host.policies.each do |policy| %>
  <h2 class="center-block"><%= _('Policy %s') % policy %></h2>
  <div class="row">
    <div class="col-md-4">
      <div class="stats-well">
        <h4 class="header ca"><%= _('%s latest report') % policy.name %></h4>
        <% report = ForemanOpenscap::HostReportDashboard::Data.new(policy.id, @host.asset.id).report %>
        <%= host_policy_breakdown_chart(report, :class => 'statistics-pie small') %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="stats-well">
        <h4 class="ca"><%= _("%s reports over time") % policy %></h4>
        <%= flot_chart('resource_graph', '', '', host_arf_reports_chart(policy.id)) %>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid #eeeeee"/>
<% end %>
