<% javascript 'charts', 'foreman_openscap/scap_hosts_show' %>
<% stylesheet 'foreman_openscap/scap_breakdown_chart' %>

<%= breadcrumbs(:resource_url => api_hosts_path,
                :resource_filter => "is_compliance_host = true",
                :name_field => 'name')
%>
<% title n_("%s compliance report by policy", "%s compliance reports by policy" , @host.combined_policies.length) % @host.to_label %>
<% @host.combined_policies.each do |policy| %>
  <h2 class="center-block"><%= _('Policy %s') % policy %></h2>
  <div class="row">
    <% data = ForemanOpenscap::HostReportDashboard::Data.new(policy, @host) %>
    <% if data.has_data? %>
    <div class="col-md-4">
      <div class="stats-well">
        <h4 class="header ca"><%= link_to_if_authorized(_('%s latest report') % policy.name,
                                                        hash_for_arf_report_path(:id => data.latest_report.id)
                                                          .merge(:auth_object => data.latest_report)) %></h4>
        <% report = data.report %>
        <% id = "host-policy-breakdown-chart-#{policy.id}" %>
        <div id="<%= id %>" class="scap-breakdown-chart"></div>
        <%= mount_react_component('DonutChart', "##{id}", donut_breakdown_chart_data(report)) %>
      </div>
    </div>

    <div class="col-md-8">
      <div class="stats-well">
        <h4 class="ca"><%= _("%s reports over time") % policy %></h4>
        <% reports_graph_id = "arf-reports-over-time-#{policy.id}" %>
        <div id="<%= reports_graph_id %>"></div>
        <%= mount_react_component('LineChart', "##{reports_graph_id}", host_arf_reports_chart_data(policy.id), :flatten_data => true) %>
      </div>
    </div>
    <% else %>
      <div class="col-md-4">
        <h4 class="header ca"><%= _('No report for this policy') %></h4>
      </div>
    <% end %>
  </div>
  <hr style="border: 1px solid #eeeeee"/>
<% end %>
