<% content_for(:title, _("Compliance Policies")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("key", "", :kind => "fa") %>
  </div>
  <h1><%= _('Compliance Policies') %></h1>
  <p><%= (_('In Foreman, a compliance policy checklist is defined via %s.') % link_to(_('SCAP content'), scap_contents_path)).html_safe %></br>
    <%= _('Once SCAP content is present, you can create a policy, assign select host groups and schedule to run.') %>
  </p>

  <div class="blank-slate-pf-main-action">
    <%= new_link(_('New Policy'), {}, { :class => "btn-lg" }) %>
  </div>
</div>
